@using ECommerceMS.ViewModel
@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
@section Style{
<link rel="stylesheet" href="~/css/home.css" />
}
<div id="categories" class="categories">
    <section>
        <h1 class="text-capitalize fw-bold text-center sec-header">
            Categories
        </h1>
        <div class="container">
            <a asp-action="GetAllCategoriesForCustomer" asp-controller="Category" class="btn btn-success text-capitalize ms-3 mb-4">show all categories <i class="fas fa-angle-double-right"></i></a>
            <div class="categories-content">
                <div class="row">
                    @foreach (var category in Model.Categories)
                    {
                        <div class="col-md-4">
                            <div class="category">
                                <div class="category-img">
                                    <a asp-action="UserDetails" asp-controller="Category" asp-route-id="@category.Id"><img src="~/Images/Categories/@category.Image" /></a>
                                </div>
                                <h4 class="fw-bold">@category.Title</h4>
                            </div>
                        </div>
                    }


                </div>
            </div>
        </div>
    </section>
</div>

<!-- start product slider -->
<div id="products" class="product-slider p-5 mb-5">

    <section>
        <div class="container slider-container">
            <h1 class="text-capitalize fw-bold text-center sec-header">
                our products
            </h1>
            <a asp-controller="Products" asp-action="Index" class="btn btn-success text-capitalize ms-3">show all product <i class="fas fa-angle-double-right"></i></a>
            <div class="row my-3">
                @foreach (var product in Model.Products)
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="card">
                            <div class="d-flex justify-content-between">
                                <a class="btn" style="font-size: 30px; text-align: left;" asp-action="AddToCart" asp-controller="Cart" asp-route-id="@product.Id">🛒</a>
                                <a class="btn" style="font-size: 30px; text-align: right;" asp-action="AddToFavouriteList" asp-controller="Products" asp-route-id="@product.Id">❤️</a>
                            </div>
                            <img src="~/Images/products/@product.Image" class="card-img-top" style="height: 300px;">
                            <div class="card-body" style="text-align: center;">
                                <h4>@product.Name</h4>
                                <h4>@product.Price EGP</h4>
                                <a class="btn btn-secondary w-100" asp-action="CustomerDetails" asp-controller="Products" asp-route-id="@product.Id">Details</a>
                            </div>
                        </div>
                        <br>
                    </div>
                

                }
            </div>
        </div>
    </section>
</div>
<!-- end product slider -->