@model ECommerceMS.Models.Product

@{
    ViewData["Title"] = "Delete Product";
}

<h1>Delete Product</h1>
<hr />

<h3>Are you sure you want to delete this?</h3>
<hr />

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Image
        </dt>
        <dd class = "col-sm-10">
            <img src="~/Images/Products/@Model.Image" width="300" height="300" />
        </dd>
        <dt class = "col-sm-2">
            Description
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            Size
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            Color
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            Price
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price) $
        </dd>
        <dt class = "col-sm-2">
            Quantity
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockQuantity)
        </dd>
        <dt class = "col-sm-2">
            Category
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Title)
        </dd>
    </dl>
</div>

<hr />
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete Product" class="btn btn-danger delete-item" />
    <a asp-action="Index" class="btn btn-secondary">Back to Products</a>
</form>



@section Scripts{
    <script src="~/js/main.js">/*delete-item*/</script>
}