@model IEnumerable<ECommerceMS.Models.Product>

@{
    ViewData["Title"] = "Favourite Products";
}
@section Style{
    <link rel="stylesheet" href="~/css/product-style.css" />
}
<h1>Favourite Products</h1>
<div class="container">
    <div class="row">
        @foreach (var product in Model)
       {
             <div class="col-lg-4 col-md-6">
                        <div class="card">
                            <div class="d-flex justify-content-between">
                                <a class="btn" style="font-size: 30px; text-align: left;" asp-action="AddToCart" asp-controller="Cart" asp-route-id="@product.Id">🛒</a>
                                <a class="btn" style="font-size: 30px; text-align: right;" asp-action="AddToFavouriteList" asp-controller="Products" asp-route-id="@product.Id">❤️</a>
                            </div>
                            <img src="~/Images/products/@product.Image" class="card-img-top" style="height: 300px;">
                            <div class="card-body" style="text-align: center;">
                                <h4>@product.Name</h4>
                                <h4>@product.Price EGP</h4>
                                <a class="btn btn-secondary w-100 mb-3" asp-action="CustomerDetails" asp-controller="Products" asp-route-id="@product.Id">Details</a>
                                <a class="btn btn-danger w-100" asp-action="RemoveFromFavouriteList" asp-controller="Products" asp-route-id="@product.Id">Remove From Favourite</a>
                            </div>
                        </div>
                        <br>
                    </div>
         
       }
    </div>
</div>