@model Order
<div class="col-12 card text-center">
    <div class="card-header text-success font-weight-bold">
        @Model.CustomerName<span>/ products</span>
        <div>@Model.Date</div>
    </div>
    <div class="card-body p-1 m-1">
        @foreach(var product in Model.ProductOrders)
        {
        <div class="card zoom">
            <div style="display:flex; flex:1 1 auto">
                <div class="img-square-wrapper img-fluid zoom">
                    <img  src="~/Images/Products/@product.Product.Image" alt="Card image cap" class="rounded-circle mb-3" style="width:65px;">
                </div>
                <div class="card-body">
                    <h4 class="card-title">@product.Product.Name</h4>
                    <p class="card-text text-break">@product.Product.Description</p>
                    <p class="card-text">
                        <div>
                            <span class="text-success font-weight-bold">Size: </span>@product.Product.Size
                        </div>
                        <div>
                            <span class="text-success font-weight-bold">Quantity: </span>@product.Quantity
                        </div>
                        <div>
                            <span class="text-success font-weight-bold">Price: </span>@product.Product.Price$
                        </div>
                    </p>
                </div>
            </div>
        </div>
        }
    </div>
    <div class="card-footer">
        <span class=" text-success font-weight-bold">TotalCost: </span>@Model.Cost$
    </div>
</div>
