@model List<Order>
@section Style{
    <style>
        .zoom {
            transition: transform .2s;
            margin: 0 auto;
        }

        .zoom:hover {
            -ms-transform: scale(1.5); /* IE 9 */
            -webkit-transform: scale(1.5); /* Safari 3-8 */
            transform: scale(1.5); 
        }
        .cardanimation {
            height: 215px;
            margin: 30px 10px;
            padding: 20px 15px;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
            transition: 0.3s ease-in-out
        }
        .cardanimation:hover {
            height: auto
        }

        .test {
            position: relative;
            margin-top: -140px;
            padding: 10px 15px;
            text-align: center;
            color: #111;
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
            transition: 0.3s ease-in-out
            
        }

        .cardanimation:hover  .test{
            visibility: visible;
            opacity: 10;
            margin-top: -40px;
            box-shadow: 0 5px 20px rgb(26, 25, 25);
            transition-delay: 0.3s
        }
    </style>
}
<div class="row">
    <div class="col-lg-12 card text-center">
        <div class="card-header text-dark font-weight-bold">
            AllOrders
        </div>
        <div class="card-body">
            @foreach(var item in Model)
            {
            <div class="card cardanimation ">
                <div style="display:flex; flex:1 1 auto">
                    <div class="card-body p-1 m-1">                        
                        <p class="Card-text">
                            <div>
                                <span class="text-dark font-weight-bold">Customer : </span> @item.CustomerName
                            </div>
                            <div>
                                <span class="text-dark font-weight-bold"> Adress : </span>@item.CustomerAddress
                            </div>  
                            <div>
                                <span class="text-dark font-weight-bold"> Phone : </span>@item.CustomerPhone
                            </div>
                            <div>
                                <span class="text-dark font-weight-bold"> ordered at : </span>@item.Date
                            </div>
                            <div class="m-2">
                                @*<input type="button" onclick="AjaxCall('@item.OrderNum')" value="products" class="btn btn-danger"/>*@
                                @* <button onclick="AjaxCall('@item.OrderNum')" value="products" class="btn btn-danger"><a class="text-light text-decoration-none" href="#div1">product</a></button>*@
                            </div>
                        </p>
                        <div>
                           <div class="row m-2 test">
                               <div class="col-12 card">
                                   <div class="card-header text-dark font-weight-bold">
                                        products 
                                   </div>
                                   <div class="card-body p-1 m-1">
                                       @foreach(var product in item.ProductOrders)
                                       {
                                            <div class="card">
                                                <div style="display:flex; flex:1 1 auto">
                                                    <div class="img-square-wrapper img-fluid zoom">
                                                        <img  src="~/Images/Products/@product.Product.Image" alt="Card image cap" class="rounded-circle" style="width:65px;">
                                                    </div>
                                                    <div class="card-body">
                                                        <h4 class="card-title">@product.Product.Name</h4>
                                                        <p class="card-text text-break">@product.Product.Description</p>
                                                        <p class="text-left">
                                                            <div>
                                                                <span class="text-dark font-weight-bold">Size: </span>@product.Product.Size
                                                            </div>
                                                            <div>
                                                                <span class="text-dark font-weight-bold">Quantity: </span>@product.Quantity
                                                            </div>
                                                            <div>
                                                                <span class="text-dark font-weight-bold">Price: </span>@product.Product.Price
                                                            </div>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                   </div>
                                   <div class="card-footer">
                                       <span class="text-dark font-weight-bold">Total Cost: </span>@item.Cost $
                                   </div>
                               </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div> 
        <div class="card-footer text-muted"> 
        </div>
    </div>
    <div class="col-lg-6" id="div1">        
    </div>
</div>
@section Scripts{
<script>
    function AjaxCall(val2){
        var id=val2
        console.log(id);
        $.ajax(
            {
                url  : "/Order/GetProductsOfOrder",
                data :{"id":id},
                success: function(result){
                    $("#div1").html(result);
                }
            }
        );
       }
</script>
}