@using ECommerceMS.ViewModel
@model ShoppingCartViewModel
@{
    ViewData["title"] = "Your Cart";
}
<div class="container">
    <div class="row">
        <table class="table table-bordered">
            <thead class="bg-success">
                <tr>

                    <th>Product Name</th>
                    <th>Image</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pc in Model.Cart.ProductCarts)
                {
                    <tr>

                        <td>@pc.Product.Name</td>
                        <td><img src="~/Images/products/@pc.Product.Image" /></td>
                        <td>
                            <a class="btn btn-danger" asp-action="DecrementQuantity" asp-route-cartId="@Model.Cart.Id" asp-route-productId="@pc.ProductId" asp-controller="Cart"><i class="fas fa-minus text-white"></i></a>
                            @pc.Quantity
                            <a class="btn btn-primary" asp-action="IncrementQuantity" asp-route-cartId="@Model.Cart.Id" asp-route-productId="@pc.ProductId" asp-controller="Cart"><i class="fas fa-plus text-white"></i></a>
                        </td>
                        <td>@(pc.Product.Price*pc.Quantity) EGP</td>
                        <td> <a class="text-danger" asp-route-cartId="@Model.Cart.Id" asp-route-productId="@pc.ProductId" asp-action="RemoveProductFromCart" asp-controller="Cart"><i class="fas fa-trash"></i></a></td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4"><span class="font-weight-bold">Total Cost: </span>@Model.TotalCost EGP</td>
                    <td><a class="btn btn-primary" asp-controller="Order" asp-action="CheckOut" asp-route-id="@Model.Cart.Id">Checkout</a></td>
                </tr>

            </tfoot>
        </table>
    </div>
</div>