@using ECommerceMS.ViewModel
@model ShoppingCartViewModel

<link href="~/css/Cart.css" rel="stylesheet" />
@{
    ViewData["title"] = "Your Cart";
}
<h3>Shopping Cart</h3>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-responsive-sm">
                <thead class="bg-success">
                    <tr>

                        <th>Image</th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>SubTotal</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pc in Model.Cart.ProductCarts)
                    {
                        <tr>

                            <td class="align-middle"><img src="~/Images/products/@pc.Product.Image" /></td>
                            <td class="align-middle">
                                <div>
                                    @pc.Product.Name
                                    <div class="d-flex flex-column justify-content-center">
                                        <div class="font-weight-bold attritue">Color: <span class="text-muted font-weight-normal">@pc.Product.Color</span></div>
                                        <div class="font-weight-bold attritue">Size: <span class="text-muted font-weight-normal">@pc.Product.Size</span></div>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">
                                <a class="text-danger" asp-action="DecrementQuantity"
                               asp-route-cartId="@Model.Cart.Id" asp-route-productId="@pc.ProductId"
                               asp-controller="Cart">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-dash" viewBox="0 0 16 16">
                                        <path d="M6.5 7a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4z" />
                                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                                    </svg> <i class="bi bi-cart-dash"></i>
                                </a>
                                @pc.Quantity
                                <a class="text-success" asp-action="IncrementQuantity"
                               asp-route-cartId="@Model.Cart.Id" asp-route-productId="@pc.ProductId"
                               asp-controller="Cart">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
                                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z" />
                                    </svg> <i class="bi bi-cart-plus"></i>
                                </a>
                            </td>
                            <td class="align-middle">@pc.Product.Price EGP</td>
                            <td class="align-middle">@(pc.Product.Price*pc.Quantity) EGP</td>
                            <td class="align-middle"> <a class="text-danger" asp-route-cartId="@Model.Cart.Id" asp-route-productId="@pc.ProductId" asp-action="RemoveProductFromCart" asp-controller="Cart"><i class="fas fa-trash"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="d-flex flex-row justify-content-between align-items-center w-100">
                <div class="d-flex px-3 pr-md-5 py-1 subtotal">
                    <div class="px-4">Total</div>
                    <div class="h5 font-weight-bold px-md-2">@Model.TotalCost EGP</div>
                </div>
                @if(Model.Cart.ProductCarts.Count()!=0){
                <div class="d-flex px-3 pr-md-5 py-1 subtotal checkout">
                    <a class="text-white" asp-action="CheckOut" asp-route-id="@Model.Cart.Id" asp-controller="order">
                        <h5 class="font-weight-bold px-md-2">Checkout</h5>
                    </a>                       
                </div>
                }
            </div>
        </div>
    </div>
</div>